:root {
  --primary-color: #ff3b3f;
  --primary-color-hover: #ff6e72;
  --secondary-color: #caebf2;
  --secondary-color: #3bfffb;
  --background-color: #efefe;
  --text-color-primary: #1c1917;
  --text-color-secondary: #f8fafc;
  --accent-color: #a9a9a9;
  --border-color: #e5e7eb;
  --success: #4ade80;
  --error: #f87171;
  --warning: #fde047;
  --info: #bfdbfe;
  --green-badge: #059669;
  --red-badge: #dc2626;
  --yellow-badge: #facc15;
  --btn-disable-color: #818cf8;
  --card-background: #f8fafc;
  --star-color: #fde047;
  --overlay: rgba(0, 0, 0, 0.3);
  --btn-retry-text-color: #6366f1;
  --toast-background-color: #27272a;
}
